:root{
    --primary-text-color:#757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bg-color: #FFFFFF;
    --bg-accent-color: #2F303A;
    --common-font-size: 14px;
    --common-line-height: 1.71;
    --regular-font-weight:400;
    --medium-font-weight: 500;
    --background-team-color: #F5F4FA;
    --black-color: #000000;
    --address-color:rgba(255, 255, 255, 0.6);
    --icons-color: #afb1b8;
    --function-transition: cubic-bezier(0.4, 0, 0.2, 1);
}
body{
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-size: var(--common-font-size);
    line-height: var(--common-line-height);
    font-weight: var(--regular-font-weight);
    letter-spacing: 0.03em;
    font-family: Roboto, sans-serif;
}
header {
    border-bottom: 1px solid #ECECEC;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.list {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* Header */
/* main-mav */
.main-nav{
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}
/* Logo */
.logo{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.2;   
    text-decoration: none;
}
.first-part{
    color: var(--accent-color);
}
.black-part{
    color: var(--black-color);
}
/* Navigation */
.site-nav{
    display: flex;
    margin-left: 93px;
 }
.contactus{
    display: flex;
    margin-left: auto;
}
.site-nav .item + .item,
.contactus .item + .item {
    margin-left: 50px;
}
.site-nav .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: var(--medium-font-weight);
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    text-decoration: none;
    transition: color 250ms var(--function-transition);
}
.contactus .link{
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    color: var(--primary-text-color);
    font-weight: var(--medium-font-weight);
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms var(--function-transition);
}
.link >.icon-mail,
.link >.icon-tel{
    margin-right: 10px;
    fill: currentColor;
    vertical-align: middle;
}
.site-nav .link:hover,
.site-nav .link:focus,
.contactus .link:hover,
.contactus .link:focus {
    color: var(--accent-color);
}
.site-nav .link.current{
    color: var(--accent-color);
}
.item{
    position: relative;
}
.active::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    border: 2px solid var(--accent-color);
    background: var(--accent-color);
    border-radius: 20px;
}
/* Hero */
h1,
h2,
h3,
p {
    margin-bottom: 0;
    margin-top: 0;
}
.hero{
    padding-top: 200px;
    padding-bottom: 200px;
}
.centred {
    text-align: center;
}
.overlay{
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: linear-gradient(to right, 
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
     url(../images/img-hero.jpg);
    background-color: #C4C4C4;
}
 .hero .hero-title{ 
    width: 696px;
    margin: 0 auto;
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-transform: uppercase;
    color: var(--primary-bg-color);
 }
 /* Main button */
.main-button{
    display: inline;
    margin-top: 30px;
    padding: 10px 32px;
    min-width: 216px;

    border-width: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em; 
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
}
.main-button,
.secondary-button {
    font-family: inherit;
}
/* < !-- Модальне вікно --> */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
    
    transition: opacity 250ms var(--function-transition);
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms var(--function-transition);
}
.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0.5);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 8px;
    min-width: 528px;
    min-height: 581px;
    border-radius: 4px;
    background-color: var(--primary-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    /* Зміщення в центр і збільшення до 100% модального вікна     */
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--function-transition);
}
.close-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: fill 250ms var(--function-transition);
    background: transparent;
}
.close-icon {
    fill: currentColor;
    transition: fill 250ms var(--function-transition);
}
.close-modal:hover .close-icon,
.close-modal:focus .close-icon {
    fill: var(--accent-color);
}
.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.modal-form{
    margin: 32px 32px 40px 32px;
}
.welcome{
    display: block;
    padding-bottom: 12px;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--title-text-color);
}
.form-field{
    text-align: start;
}
.field-label{
    display: block;
    width: 100%;
    padding-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
}
.field-input{
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
    padding: 11px;
    margin-bottom: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}
.icon-person {
    display: inline-block;
    position: absolute;
    left: 11px;
    top: 11px;
    outline: 1px solid red;
}
.field-textarea{
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}
.form-agree{
    display: block;
    margin: 20px 11px 30px;
}
.field-agree a{
    color: var(--accent-color);
}
.form-button{
    width: 200px;
    height: 50px;
    padding: 10px 52px;
    border-width: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
}

/* Features */
.section{
    display: block;
    justify-content: center;
    padding-top: 94px;
    padding-bottom: 94px;
}
.features{
    display: flex;
    justify-content: center;
}
.features-item > .rectan-icon{
    width: auto;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: var(--background-team-color);
    margin-bottom: 30px;
}

.features > .features-item + .features-item,
.works>.works-thumb+.works-thumb,
.team>.team-item+.team-item{
    margin-left: 30px;
}
.features .features-title{
    margin-bottom: 10px;
    font-size: var(--common-font-size);
    color: var(--title-text-color);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}
/* Works */
.no-padding{
    padding-top: 0;
}
.works{
    display: flex;
    justify-content: center;
}
.works .works-thumb{
    display: flex;
    align-items: flex-end;
    position: relative;
    max-width: 100%;
    height: auto;
}
.works-thumb>.works-descr{
    position: absolute;
    height: 70px;
    width: 100%;
    padding-top: 23px;
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-bg-color);
    background-color: rgba(47, 48, 58, 0.8);
}
/*  Our team */
.gray-bcg{
    background-color: var(--background-team-color);
}
.section .team{
    display: flex;
    justify-content: center;
}
.section .section-title{
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}
.team > .team-item{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color:var(--primary-bg-color);
}
.team-item >.figcaption{
    padding: 30px 10px;
}
.team-item > .team-item-img{
    display: block;
    max-width: 100%;
    height: auto;
}
.team .member{
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: var(--medium-font-weight);
    font-size: 16px;
    line-height: 1.18;
}
.team .position{
    font-size: 16px;
    line-height: 1.17;
    margin-bottom: 16px;
}
.figcaption>.social-media {
    display: flex;
    justify-content: center;
}
.social-media-item {
    width: 44px;
    height: 44px;
}
.social-media-link{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms var(--function-transition);
}
.social-media > .social-media-item + .social-media-item{
    margin-left: 10px;  
}
.social-media-link>.social-icon{
    fill: var(--icons-color);
    transition: fill 250ms var(--function-transition);
}
.social-media-link:hover .social-icon,
.social-media-link:focus .social-icon{
    fill: var(--primary-bg-color); 
}
.social-media-link:hover,
.social-media-link:focus{
    background-color: var(--accent-color);
}
/* clients */
.section .clients {
    display: flex;
    justify-content: center;
}
.clients .clients-item{
    width: 170px;
    height: 92px;
}
.clients .clients-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--icons-color);
    border-radius: 4px;
    transition: border 250ms var(--function-transition);
}
.clients .clients-item + .clients-item{
    margin-left: 30px;
}
.clients .clients-icon{
    fill: var(--icons-color);
    transition: fill 250ms var(--function-transition);
}
.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon{
    fill: var(--accent-color);
}
.clients-link:hover,
.clients-link:focus{
    border: 1px solid var(--accent-color);
}
/* Портфоліо */
.portfolio{
    padding-top: 94px;
    padding-bottom: 94px;
}
/* Buttons*/
.container .buttons {
    margin-bottom: 34px;
    display: flex;
    justify-content: center;
    min-width: 575px;
}
.buttons > .buttons-item + .buttons-item{
    margin-left: 8px;
}
.secondary-button.current{
    padding: 6px 25px;
    min-width: 73px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
}
.secondary-button {
    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    border-width: 0;
    background-color: var(--background-team-color);
    color: var(--title-text-color);
    font-weight: var(--medium-font-weight);
    font-size: 16px;
    line-height: 1.63;
    cursor: pointer;
    transition: background-color 250ms var(--function-transition),
    color 250ms var(--function-transition),
    box-shadow 250ms var(--function-transition);
}
.secondary-button:hover,
.secondary-button:focus {
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Collection */
.grid{
    display: flex;
    flex-wrap: wrap;
}
.grid-item{
    /* width: 370px; */
    position: relative;
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
}
.grid-img{
    display: block;
    max-width: 100%;
    height: auto;
}

.grid-item:nth-child(3n){
    margin-right: 0;
}
.grid-item:nth-last-child(-n+3){
    margin-bottom: 0;
}
.grid .grid-link{
    text-decoration: none;
    display: block;
    transition: box-shadow 250ms var(--function-transition);
}
.grid-link:hover,
.grid-link:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.thumb-img{
    overflow: hidden;
    position: relative;
}
.grid .grid-descr {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    width: 370px;
    height: 294px;
    padding: 63px 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;
    line-height: 1.56;
    background-color: var(--accent-color);
    color: var(--primary-bg-color);

    transform: translateY(100%);
    transition: transform 250ms var(--function-transition);
}
.grid-link:hover .grid-descr,
.grid-link:focus .grid-descr{
    transform: translateY(0);
}
.project .project-title{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.project-item .project-descr{
    margin-top: 4px;
    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-text-color);

}
.project-item{
    padding: 20px 24px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}
/* Футер */
footer.footer {
    background-color: var(--bg-accent-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
 .address-flex{
    display: flex;
 }
.logo-address{
    width: 230px;
    height: 135px;
}
.address a{
    font-style: normal;
    text-decoration: none;
}
.logo-indent {
    display: inline-block;
    margin-bottom: 20px;
}
.white-part{
    color: var(--primary-bg-color);
}
.address .street {
    color: var(--primary-bg-color);
    transition: color 250ms var(--function-transition);
}
.address-item{
    margin-bottom: 9px;
}
.address .mail,
.address .tel{
    color: var(--address-color);
    transition: color 250ms var(--function-transition);
}
.address a:hover,
.address a:focus {
    color: var(--accent-color);
}
.footer .join-us{
    width: 206px;
    height: 80px;
    margin-left: 70px;
    margin-top: 12px;
}
.join-us .join-us-title,
.subscribe-title {
    font-size: var(--common-font-size);
    color: var(--primary-bg-color);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}
.join-us .social-media {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.join-us .social-media-link{
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms var(--function-transition);
}
.join-us .social-icon{
    fill: var(--primary-bg-color);
}
.join-us .social-media-link:hover,
.join-us .social-media-link:focus{
    background-color: var(--accent-color);
}
.subscribe{
    width: 570px;
    display: block;
    margin-top: 12px;
    margin-left: 93px;
}
.subscribe-email{
    margin-top: 20px;
    display: flex;
}
.subscribe-input{
    width: 358px;
    height: 50px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--bg-accent-color);
}
.subscribe-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    padding: 10px 28px;
    width: 200px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    border-width: 0;
    color: var(--primary-bg-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.icon-send{
    margin-left: 10px;
}

